body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #0047AB;
}
.container {
    box-sizing: border-box;
    margin: 0 auto;
}
.header-container{
	display: flex;
	justify-content: center;
	max-width: 100%;
	width: 400px;
	margin: 0 auto;
}
.score-container, .share-button-container{
	margin-left: 5px;
	margin-right: 5px;
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 57px;
	font-weight: 600;
}
.score-container{
	align-items: flex-start;
}
.share-button-container{
	align-items: flex-end;
}
#score{
	font-weight: bold;
	font-size: 26px;
	display: flex;
	align-items: flex-start;
	justify-content: end;
}
.share-label, .score-label{
	margin-bottom: 2px;
}
.share-button-container a img{
	width: 30px;
	height: auto;
	margin-left: 5px;
}
hr{
    max-width: 480px;
}
#board{
    width: 400px;
    height: 400px;
    background-color: #EFFAFF;
    border: 6px solid #B7DFF2;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.tile{ 
    width: 90px;
    height: 90px;
    border: 5px solid #B7DFF2;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.fa-brands, .fa-solid {
    font-size: 25px;
    color: white;
    margin: 0 10px 0 10px;
    letter-spacing: 20px;
}
.fa-brands:hover, .fa-solid:hover {
    color: gray;
}
.x2{
    background-color: #EEE4DA;
    color: #727371;
}
.x4{
    background-color: #ECE0CA;
    color: #727371;
}
.x8{
    background-color: #F4B17A;
    color: white;
}
.x16{
    background-color: #F59575;
    color: white;
}
.x32{
    background-color: #F57C5F;
    color: white;
}
.x64{
    background-color: #F65D3B;
    color: white;
}
.x128{
    background-color: #EDCE71;
    color: white;
}
.x256{
    background-color: #EDCC63;
    color: white;
}
.x512{
    background-color: #EDC651;
    color: white;
}
.x1024{
    background-color: #EEC744;
    color: white;
}
.x2048{
    background-color: #EEC230;
    color: white;
}
.x4096{
    background-color: #FE3D3D;
    color: white;
}
.x8192{
    background-color: #FF2020;
    color: white;
}
@keyframes slide-from-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slide-from-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slide-from-top {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slide-from-bottom {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@media(max-width: 415px) {
    #board {
        margin-top: 8px;
        width: 90vw;
        height: 90vh;
        max-width: 400px;
        max-height: 400px;
    }
    .tile {
        box-sizing: border-box;
        width: 25%;
        height: 25%;
    }
    h1 {
        font-size: 40px;
        font-weight: 700;
    }
}